<h2>Forget Password?</h2>
<%= flash[:notice]%>
<%= form_with url: "/password/forget_password", method: :post do |form| %>

  <div class="field">
    <%= form.label :Email_id %><br>
    <%= form.text_field :email %><br>
  </div>

  <div class="actions">
    <%= form.submit "New Password" %> 
  </div>
  <br>
  <div>    
    <!--<%= link_to "Reset Password",:controller=>"password",:action=>"reset_password" %>-->
  </div>
<% end %>

