<h2>Reset Password</h2>
<%= flash[:notice]%>
<%= form_with url: "/password/reset_password", method: :post do |form| %>
<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "Error:Try Again...") %></h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>  
  <div class="field">
    <%= form.label :New_Password %><br>
    <%= form.password_field :password %><br>
  </div>

  
  <div class="field">
    <%= form.label :Confirm_Password %><br>
    <%= form.password_field :password_confirmation %><br>
  </div>  

  <div class="actions">
    <%= form.submit "Change Password" %> 
  </div>
  <br>
  <div>    
  <!--<%= link_to "Login",:controller=>"account",:action=>"login" %>-->
  </div>
<% end %>

