<h2>Edit Profile:</h2>
<%= form_with url: "/profile/edit_profile", method: :post do |form| %>

  <!--<img src="/assets/avatar.jpg" width="140" height="100">-->
  <div class="field">
    <%= form.label :Profile%>
    <%= image_tag(@user.profile_image_blob, width:'20%') if @user.profile_image.present? %><br/>
    <%= form.file_field :profile_image %>
 </div>

  <div class="field">
    <%= form.label :First_Name %><br>
    <%= form.text_field :first_name, :value=>@user.first_name %><br>
  </div>

  <div class="field">
    <%= form.label :Last_Name %><br>
    <%= form.text_field :last_name, :value=>@user.last_name %><br>
  </div>

  <div class="field">
    <%= form.label :Mobile %><br>
    <%= form.number_field :mobile, :value=>@user.mobile %><br>
  </div>

  <div class="field">
    <%= form.label :DOB %><br>
    <%= form.date_field :date_of_birth %><br>
  </div>

  <div class="actions">
  <%= form.submit "Edit Profile" %> 
  </div>
  <!--<div class="text sign-up-text">Already have an account? <label for="flip">Login</label></div>
  <%= link_to "Login Page",:controller=>"account",:action=>"login" %><br>-->
  </div>
<% end %><br>
